.Search {
  text-align: center;
  margin-top: 20px;
}
.searchCity {
  border-color: black;
  border-radius: 4px;
  border-width: 1px;
  height: 29px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: black;
  font-size: 12px;
  font-weight: 300;
  margin: 1px;
}

.goButton {
  color: white;
  border: none;
  background-color: black;
  border-radius: 4px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  padding: 6px;
  margin: 1px;
}

.goButton:disabled {
  color: white;
  background-color: #bcb7b7;
}
.fa-location-arrow {
  border-width: 1px;
  border-radius: 4px;
  background-color: white;
  color: black;
  border-color: black;
  position: relative;
  padding: 4px 6px 8px;
  margin: 1px;
}

.fa-location-arrow:disabled {
  color: #bcb7b7;
  border-color: #bcb7b7;
}
