.Temperature {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.TemperatureUnit current-temperature {
  font-size: 56px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding-bottom: 20px;
}
.TemperatureUnit celsius-link {
  position: relative;
  top: -30px;
  cursor: default;
}

.TemperatureUnit farenheit-link {
  position: relative;
  top: -30px;
  cursor: default;
}

.col-sm {
  text-align: center;
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: none;
}
.active {
  position: relative;
  font-weight: bold;
  top: -30px;
}

h1 {
  padding-top: 20px;
  font-family: "DM Serif Display", serif;
  text-align: center;
}
.currently {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: #bcb7b7;
  font-weight: 700;
  text-align: center;
}
.currentDay {
  margin-bottom: 0;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}
