.Temperature {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.TemperatureUnit current-temperature {
  font-size: 56px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding-bottom: 20px;
}
.TemperatureUnit temp-link {
  position: relative;
  top: -30px;
  cursor: default;
}

.TemperatureUnit temp-link-active {
  font-weight: bold;
}

.col-sm {
  text-align: center;
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: none;
}

.currently {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: #bcb7b7;
  font-weight: 700;
  text-align: center;
}
.currentDay {
  margin-bottom: 0;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}

h1 {
  font-family: "DM Serif Display", serif;
  text-align: center;
}

.TemperatureUnit span {
  position: relative;
  top: -30px;
}

.TemperatureUnit a:hover {
  text-decoration: none;
  color: #bcb7b7;
}

.TemperatureUnit a:active {
  text-decoration: none;
  color: #bcb7b7;
}
